<!-- layout.html -->
 <head>
    <link rel="stylesheet" href="./css/styles.css">
    <!-- This is for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

 </head>
<header>
  <h1>Healthcare Portal</h1>
</header>

<aside class="sidebar">
  <ul>
    <li><a href="/"><i class="fas fa-home"></i>Dashboard</a></li>
    <li><a href="/src/components/RegistrationForm.html"><i class="fas fa-heartbeat"></i>Patient Registration</a></li>
    <li><a href="/src/components/RegisteredPatientList.html"><i class="fas fa-users"></i>Patients List</a></li>
    <li><a href="/src/pages/sql.html"><i class="fas fa-file-signature"></i>Support</a></li>
    <li><a href="#"><i class="fas fa-cogs"></i>Settings</a></li>
  </ul>
</aside>
